# Application Mode
# SIMULATION: Use mock data (no API needed) - Good for UI development
# DEV: Connect to development API server
# PROD: Connect to production API server
NEXT_PUBLIC_APP_MODE=
NEXT_PUBLIC_API_URL=
